<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Search</title>
</head>
<body>
    <form action ="/ricerca" method="get">
        <div class="mb-3 mt-3">
            <h2 class="form-label text-center">Nome Store: </h2>
            <input type="text" class="form-control" id="fn_client" placeholder="inserisci il nome del cliente: " name="fn_client">
            <input type="text" class="form-control" id="ln_client" placeholder="inserisci il cognome del cliente: " name="ln_client">
        </div>
        <div class="text-center">
           <input type="submit" id="Ricerca"> 
        </div>
        
    </form>
</body>
</html>